#chess-board {
    width: 400px;
}

#turn-status, #check-status {
    font-size: 20px;
}

#check-status {
    margin-left: 100px;
}

#piece-chooser {
    display: none;
}

#piece-chooser img {
    background-color: #b58863;
    cursor: pointer;
}
